<header class="header">
  <div class="container header-container">
    <h1><%= link_to "単位管理", "#" %></h1>
    <nav>
      <ul class="nav">
        <li class="nav-item"><%= link_to "授業一覧", "#" %></li>
        <li class="nav-item"><%= link_to "科目区分", "#" %></li>
        <li class="nav-item" ><%= link_to "アカウント", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
